.productCard{
  width: 240px;
  height: 395px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 4px;
  padding: 10px;
  gap:10px;
  display: flex;
  flex-direction: column;
  margin:10px 0px;
  margin-bottom: 30px;
}
.price {
  display: flex;
  flex-direction: row;
  gap:2px;
  align-items: center;
}
.details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

}
.buttonStyles {
  padding: 0.25rem 0.5rem;
  margin: 0.25rem;
  cursor: pointer;
}
.inputStyles {
  width: 2rem;
  align-items: center;
  padding: 0.15rem 0.1rem;
  margin: 0.25rem;
}
.counter {
  width: 120px;
  display: flex;
  background: white;
  padding: 1px;
  border: 2px solid teal;
  border-radius: 0.375rem;
};
.containerStyles {
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  /* justify-content: space-between; */
  /* border: 1px solid red; */
}
.imageCont {
display: flex;
align-items: center;
justify-content: center;
  /* z-index: 2; */
}
.likeButton {
display: flex;
align-items:center;
justify-content: center;
padding:4px;
border: 2px solid teal;
border-radius: 3px;
}
.add {
  background-color: teal;
  color: #fff;
  padding: 10px 84px;
  border-radius: 5px;
  border: none;
}
